Algorithm/PTA/self_test/build/
Algorithm/leetcode/exercises/easy/build/
Algorithm/leetcode/exercises/hard/build/
Algorithm/PTA/advanced_level/build/
.gitignore
Algorithm/trytrywater/build/
Algorithm/leetcode/easy/build/
cpp_basic(primer)/trytrywater/build/
