Algorithm/PTA/self_test/build/
Algorithm/leetcode/exercises/easy/build/
Algorithm/leetcode/exercises/hard/build/
Algorithm/PTA/advanced_level/build/
.gitignore
Algorithm/trytrywater/build/
Algorithm/leetcode/easy/build/
cpp_basic(primer)/trytrywater/build/
projects/Snake0.0/build/
projects/Snake1.0/build/
projects/2048_1.0/build/
ece/ece120/build/
Algorithm/Data_Structure(C++)/build/
math/build/
